* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 10px;
    border-radius: 2px;
}

.sub-body {
    margin-top: 10px;
}

.body-left,
.silder,
.adversiting {
    padding: 50px;
}

.body-midle {
    margin: 0 10px;
}

.body-left {
    background-color: rgb(231, 213, 23);
    border-radius: 2px;
    border: 2px solid rgb(183, 18, 18);
    padding: 40px;
}

.body-left ul li {
    list-style: none;
}

.body-midle {
    background-color: rgb(231, 213, 23);
    border-radius: 2px;
    border: 2px solid rgb(183, 18, 18);
}

.sub-body-midle h2 {
    padding-bottom: 10px;
}

.body-right {
    display: flex;
    flex-direction: column;
}

.silder {
    margin-bottom: 20px;
}

.silder,
.adversiting {
    width: 100%;
    background-color: rgb(231, 213, 23);
    border-radius: 2px;
    border: 2px solid rgb(183, 18, 18);
    padding: 28% 10px;
}

.footer {
    margin-top: 10px;
}

.header,
.footer {
    width: 100%;
    background-color: rgb(231, 213, 23);
    padding: 10px;
    border-radius: 2px;
    border: 2px solid rgb(183, 18, 18);
}

.body-left {
    grid-area: left;
}

.body-midle {
    grid-area: mid;
}

.body-right {
    grid-area: right;
}

.footer {
    grid-area: footer;
}

.sub-body {
    display: grid;
    grid-template-areas:
        'left left left mid mid  right right'
        'footer footer footer footer footer footer footer '
}

/* ------------------- responsive target ----------------------------- */
@media only screen and (max-width: 1024px) {
    .body-left {
        grid-area: left;
    }

    .body-midle {
        grid-area: mid;
    }

    .body-right {
        grid-area: right;
    }

    .footer {
        grid-area: footer;
    }

    .sub-body {
        display: grid;
        grid-template-areas:
            'left left left left left'
            'right mid mid mid mid'
            'right footer footer footer footer '
    }

    .sub-body {
        display: grid;
    }


    .body-left {
        padding: 10px !important;
        margin-bottom: 10px;
    }

    .body-left {
        display: flex;
        width: 100%;
        padding: 10px 0;
    }

    .body-left ul {
        display: flex;
        width: 97%;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

    .body-midle {
        margin: 0 0 0 10px;
        padding: 27px;
    }

    .adversiting {
        padding: 10px;
    }

    .footer {
        width: auto;
        padding: 6px !important;
        margin-top: 11px;
        margin-left: 10px;
    }

    .silder {
        padding: 68.5px 41px;
    }
}


/* ------------------------------------------------------------------- */

@media only screen and (max-width : 864px) {
    .silder {
        padding: 76.5px 41px;
    }
}

/* ------------------- responsive mobile ----------------------------- */
@media only screen and (max-width: 768px) {
    .sub-body {
        flex-direction: column;
        display: flex;
    }

    .body-left ul {
        display: block;
        text-align: start;
    }

    .footer {
        float: none;
        width: 100%;
    }

    .body-right {
        margin-bottom: 0;
    }

    .body-midle {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .adversiting,
    .silder {
        padding: 10px;
        width: 100%;
    }

    .adversiting {
        margin-bottom: 1px;
    }

    .body-right {
        width: 100%;
    }

    .footer {
        margin-left: 0;
    }
}
